<ion-content class="master-bg">

    <div class="ion-padding section-title">
      <ion-text>
        <h1>Ohh!<br>Forgot Password</h1>
        <div>Write Your Email Here</div>
      </ion-text>
    </div>
  
    <form class="ion-padding">
  
      <ion-item>
        <ion-input type="email" name="email" [(ngModel)]="formData.email" placeholder="Email" required></ion-input>
      </ion-item>
  
      <div class="ion-margin-top">
        <ion-button (click)="Forgot()" expand="block" color="warning">Send</ion-button>
        <ion-text routerLink="/login" class="ion-text-center">
          <p>Back</p>
        </ion-text>
      </div>
  
    </form>
  </ion-content>