ion-footer {
    padding: 8px 5px;
    ion-button {
        height: 45px;
        font-weight: 500;
        text-transform: capitalize;
        border-radius: 8px;
    }
}

ion-item {
    margin-top: 8px;
    margin-bottom: 8px;
}