.button-area {
    margin-top: 20px;

    ion-button {
        height: 45px;
        font-weight: 500;
        text-transform: capitalize;
        border-radius: 8px;
        margin-left: 8px;
        margin-right: 8px;
    }
}