<div class="ion-padding-horizontal page-header">
  <ion-row>
    <ion-col>
      <h2 class="page-title">Profile</h2>
    </ion-col>
    <ion-col class="ion-text-end ion-padding-top">
      <ion-icon size="large" name="log-out" (click)="presentAlertConfirm()"></ion-icon>
    </ion-col>
  </ion-row>
</div>
<div class="profile-card">
  <ion-row class="ion-text-center">
    <ion-col size="4">
      <ion-card>
        <ion-img src="{{profileAvatar}}">
        </ion-img>
      </ion-card>
    </ion-col>
    <ion-col class="profile-name">
      <ion-text>
        <h3 class="ion-no-margin">{{profileLastname}} {{profileFirstname}}</h3>
        <ion-badge color="warning">{{profileCreated}}</ion-badge>
      </ion-text>
    </ion-col>
  </ion-row>
</div>

<ion-content>
  <h6 class="ion-padding-horizontal section-title"><b>Settings</b></h6>

  <ion-list>

    <ion-item (click)="editInfo()">
      <ion-icon slot="end" name="md-create"></ion-icon>
      <ion-label>Edit Profile</ion-label>
    </ion-item>
    
    <ion-item (click)="editAddress()">
      <ion-icon slot="end" name="md-pin"></ion-icon>
      <ion-label>Edit Address</ion-label>
    </ion-item>

    <ion-item (click)="editPassword()">
      <ion-icon slot="end" name="md-lock"></ion-icon>
      <ion-label>Change Password</ion-label>
    </ion-item>

    <!-- <ion-item>
      <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
      <ion-label>Account Verification</ion-label>
    </ion-item> -->

  </ion-list>

</ion-content>