<div class="ion-page" id="filter">
  <div class="ion-padding-horizontal ion-margin-top">
    <h2 class="page-title">Search</h2>
  </div>
  <div class="searchbar">
    <ion-searchbar (click)="SearchBar()"></ion-searchbar>
  </div>

  <ion-content>
    <div class="grid">

      <ion-row>
        <ion-col>
          <ion-card (click)="searchClinic()">
            <ion-thumbnail slot="start">
              <img src="https://img.icons8.com/color/96/000000/clinic.png">
            </ion-thumbnail>
            <h5>All Clinic</h5>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card (click)="searchDoctor()">
            <ion-thumbnail slot="start">
              <img src="https://img.icons8.com/color/96/000000/medical-doctor.png">
            </ion-thumbnail>
            <h5>All Doctor</h5>
          </ion-card>
        </ion-col>

        <ion-col *ngFor="let item of items">
          <ion-card (click)="searchLink(item.speciality_id)">
            <ion-thumbnail slot="start">
              <img src="{{iconLink}}{{item.speciality_icon}}">
            </ion-thumbnail>
            <h5><ion-badge color="primary"></ion-badge> {{item.speciality_name}}</h5>
          </ion-card>
        </ion-col>

      </ion-row>

    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="tertiary" (click)="showMenu()">
        <ion-icon name="color-filter"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ion-content>
</div>