<div class="ion-padding-horizontal ion-margin-top">
  <h2 class="page-title">Search</h2>
</div>
<div class="searchbar">
  <ion-searchbar (click)="SearchBar()"></ion-searchbar>
</div>

<ion-content>
  <div class="grid">

    <ion-row>

      <ion-col>
        <ion-card>
          <ion-thumbnail slot="start">
            <img src="https://img.icons8.com/color/96/000000/acupuncture.png">
          </ion-thumbnail>
          <h5>Acupuncture</h5>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-thumbnail slot="start">
            <img src="https://img.icons8.com/color/96/000000/hearing.png">
          </ion-thumbnail>
          <h5>Audiologist</h5>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-thumbnail slot="start">
            <img src="https://img.icons8.com/color/96/000000/tooth.png">
          </ion-thumbnail>
          <h5>Dentist</h5>
        </ion-card>
      </ion-col>
      
      <ion-col>
        <ion-card>
          <ion-thumbnail slot="start">
            <img src="https://img.icons8.com/color/96/000000/human-bone.png">
          </ion-thumbnail>
          <h5>Physiotherapist</h5>
        </ion-card>
      </ion-col>

    </ion-row>

  </div>
</ion-content>