<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/result"></ion-back-button>
    </ion-buttons>
    <ion-title>Clinic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let item of items">

  <div class="clinic-img">
    <ion-slides autoplay="3000" [options]="sliderConfig">
      <ion-slide>
        <div class="swiper-zoom-container">
          <img src="https://images.unsplash.com/photo-1573314865460-10ef19098125?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="swiper-zoom-container">
          <img src="https://images.unsplash.com/photo-1573314865460-10ef19098125?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="swiper-zoom-container">
          <img src="https://images.unsplash.com/photo-1573314865460-10ef19098125?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="ion-padding-horizontal">
    <h3 class="clinic-title">{{item.clinic_name}}</h3>
    <ion-text color="medium">
      <p class="clinic-location">{{item.clinic_address}}, {{item.clinic_city}}, {{item.clinic_state}},
        {{item.clinic_zipcode}}</p>
    </ion-text>

    <ion-row class="clinic-info">
      <ion-col>
        <small>Price</small>
        <h6>RM 50</h6>
      </ion-col>
      <ion-col>
        <small>Reviews</small>
        <h6>5.5</h6>
      </ion-col>
    </ion-row>

    <h6 class="section-title"><b>Description</b></h6>
    <ion-text class="ion-text-justify clinic-desc">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
    </ion-text>

    <h6 class="section-title"><b>Details</b></h6>
    <ion-text class="ion-text-justify clinic-desc">
      <div>
        <ion-icon name="call"></ion-icon><span>{{item.clinic_contact}}</span>
      </div>
      <div>
        <ion-icon name="mail"></ion-icon><span>{{item.clinic_email}}</span>
      </div>
    </ion-text>
  </div>

  <div>
    <h6 class="ion-padding-horizontal section-title"><b>Doctor List</b></h6>
    <ion-card (click)="doctorProfile(1)">
      <ion-row>
        <ion-col size="3">
          <ion-avatar>
            <img src="http://jaybabani.com/ultra-admin-html/preview/data/doctors/doctor-1.jpg">
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-label>
            <h3><b>Dr. Venezia Giulla</b></h3>
            <p>Dentist</p>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

</ion-content>