ion-tab-bar {
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
    padding-top: 0px;
    padding-bottom: 2px;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 5px;
}

ion-tab-button {
    padding-top: 5px;
    padding-bottom: 5px;
}

ion-label {
    font-size: 10px;
}