<ion-tabs>

  <ion-tab-bar slot="bottom" color="tertiary">
  
    <ion-tab-button tab="home">
      <ion-icon name="md-home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="appointment">
      <ion-icon name="md-calendar"></ion-icon>
      <ion-label>Appointments</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="md-search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="message">
      <ion-icon name="md-mail"></ion-icon>
      <ion-badge *ngIf="badge > 0" color="danger">{{badge}}</ion-badge>
      <ion-label>Notification</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="md-person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  
  </ion-tab-bar>

</ion-tabs>