<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">

  <ion-item>
    <ion-label position="floating">Old Password</ion-label>
    <ion-input type="password" name="oldpass" [(ngModel)]="oldpassword" clearInput required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">New Password</ion-label>
    <ion-input type="password" name="newpass" [(ngModel)]="newpassword" clearInput required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Re-Type Password</ion-label>
    <ion-input type="password" name="repass" [(ngModel)]="conpassword" clearInput required></ion-input>
  </ion-item>

</ion-content>

<ion-footer no-border>
  <ion-button expand="block" fill="outline" color="success" (click)="updateData()">Save Changes</ion-button>
</ion-footer>