<ion-content class="master-bg">

    <div class="ion-padding section-title">
      <ion-text>
        <h1>Register Now!</h1>
        <div>Sign Up Now to Book Appointment</div>
      </ion-text>
    </div>
  
    <form class="ion-padding">

      <ion-item>
        <ion-input type="text" name="name" value="" placeholder="First Name" [(ngModel)]="formData.firstname" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" name="name" value="" placeholder="Last Name/ Surname" [(ngModel)]="formData.lastname" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" name="identity" value="" placeholder="Identity Number/ Passport Number" [(ngModel)]="formData.identity" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="email" name="email" value="" placeholder="Email" [(ngModel)]="formData.email" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input type="password" name="password" value="" placeholder="Password" [(ngModel)]="formData.password" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input type="password" name="confirm_password" value="" placeholder="Confirm Password" [(ngModel)]="formData.confirm_password" required></ion-input>
      </ion-item>
  
      <div class="ion-margin-top">
        <ion-button (click)="RegisterUser()" expand="block" color="warning">Register</ion-button>
        <ion-text routerLink="/login" class="ion-text-center">
          <p>Already have an Account</p>
        </ion-text>
      </div>
  
    </form>
  </ion-content>