<ion-content *ngFor="let item of items">
  <div class="ion-padding-horizontal page-header">
    <h2 class="page-title">Hello, {{item.admin_name}}</h2>
    <ion-text>
      <p>What are you looking for?</p>
    </ion-text>
  </div>

  <div class="grid">

    <ion-row>

      <ion-col>
        <ion-card>
          <h5>Acupuncture</h5>
          <h6>Profile</h6>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <h5>Audiologist</h5>
          <h6>Hello</h6>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <h5>Dentist</h5>
          <h6>Hello</h6>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <h5>Physiotherapist</h5>
          <h6>Hello</h6>
        </ion-card>
      </ion-col>

    </ion-row>

  </div>

  <div class="upcoming-section">
    <h6 class="ion-padding-horizontal section-title"><b>Upcoming</b></h6>

    <ion-card>
      <ion-row>
        <ion-col size="3">
          <ion-avatar>
            <img src="http://jaybabani.com/ultra-admin-html/preview/data/doctors/doctor-1.jpg">
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-label>
            <h5><b>Dr. Venessa</b></h5>
            <h6>Dentist</h6>
            <ion-badge color="success">16 Oct 2019, 6:00 PM</ion-badge>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-card>

  </div>

</ion-content>