<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-searchbar (ionInput)="filterData($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Doctor Result</ion-list-header>

    <ion-item *ngFor="let item of items" (click)="doctorProfile(item.doctor_id)">
      <ion-avatar slot="start">
        <img src="{{imgURL}}{{item.clinic_id}}/doctor/{{item.doctor_avatar}}">
      </ion-avatar>
      <ion-label>
        <h2>{{item.doctor_lastname}} {{item.doctor_firstname}}</h2>
        <h3>{{item.speciality_name}}</h3>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
